<div class=field>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class=field>
  <%= f.label :min_age_years %>
  <%= f.text_field :min_age_years %> (years)
</div>

<div class=field>
  <%= f.label :country_alpha2 %>
  <%= f.country_select :country_alpha2 %>
</div>