<%
  # This form is a bit tricky.  It's very simple for new quizzes, and fairly
  # complex for existing quizzes.
%>

<%= form_for(@quiz) do |f| %>
  <% if @quiz.errors.any? %>
    <div id=error_explanation>
      <h2>
        <%= pluralize(@quiz.errors.count, "error") %>
        prohibited this quiz from being saved:
      </h2>

      <ul>
        <% @quiz.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Basic Settings</legend>

    <div class=field>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class=field>
      <%= f.label :min_age_years %>
      <%= f.text_field :min_age_years %> (years)
    </div>

    <div class=field>
      <%= f.label :country_alpha2 %>
      <%= f.country_select :country_alpha2 %>
    </div>
    
    <% if @quiz.new_record? %>
      <div class="indented_submit spacious_submit">
        <%= f.submit %>
      </div>
    <% end %>
  </fieldset>

  <% unless @quiz.new_record? %>
    <fieldset>
      <legend>Video</legend>

      <div class=field>
        <%= f.label :video_id %>
        <%= f.text_field :video_id %>
      </div>
    </fieldset>

    <fieldset>
      <legend>Form</legend>

      <p>
        To setup a form for your quiz, go to
        <a href="https://docs.google.com">docs.google.com</a> and create a new
        form.  Once you have created the form, click More Actions &gt; Embed.
        Look at the snippet of code, and find just the formkey.  Enter that
        below.  This process is currently a bit manual, but I'm hoping to
        improve it in the days to come.
      </p>

      <div class=field>
        <%= f.label :form_id %>
        <%= f.text_field :form_id %>
      </div>
    </fieldset>

    <div class=spacious_submit>
      <%= f.submit %>
    </div>
  <% end %>
<% end %>