<!--
  Copyright 2012 Google Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<%= render 'quizzes/welcome' %>

<h3>Available Quizzes</h3>

<% if @quizzes.blank? %>
  <p>There are no quizzes yet.  Be the first to create one!</p>
<% else %>
  <% @quizzes.each_slice(3) do |quizzes| %>
    <div>
      <% quizzes.each do |quiz| %>
        <div class=quiz_cell>
          <%= link_to quiz.name, quiz %><br>
          <%= link_to image_tag("http://i.ytimg.com/vi/#{quiz.video_id}/default.jpg"),
                      quiz %><br>
          Age: <%= quiz.min_age_years %>+<br>
          Country: <%= Country[quiz.country_alpha2].name %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= link_to 'Create a new quiz', new_quiz_path %>
