<%= render 'quizzes/welcome' %>

<h3>Available Quizzes</h3>

<% if @quizzes.blank? %>
  <p>There are no quizzes yet.  Be the first to create one!</p>
<% else %>
  <table>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Country</th>
    </tr>

    <% for quiz in @quizzes %>
      <tr>
        <td><%= link_to quiz.name, quiz %></td>
        <td><%= quiz.min_age_years %>+</td>
        <td><%= Country[quiz.country_alpha2].name %></td>
      </tr>      
    <% end %>
  </table>
<% end %>

<p>
  <%= link_to 'Create a new quiz', new_quiz_path %>
</p>