<p>
  <b>Name:</b>
  <%= @quiz.name %>
</p>

<p>
  <b>Video:</b>
  <% if @quiz.video_id %>
    <iframe width=560 height=315
      src="http://www.youtube.com/embed/<%= @quiz.video_id %>"
      frameborder=0 allowfullscreen class=player></iframe>
  <% else %>
    This is no video associated with this quiz yet.
  <% end %>
</p>

<p>
  <b>Age:</b>
  <%= @quiz.min_age_years %>+
</p>

<p>
  <b>Country:</b>
  <%= Country[@quiz.country_alpha2].name %>
</p>


<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
